body{

    background: radial-gradient(circle, red, black);  
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.title{

    width: 300px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 20px;

}
/*Diseñando el canvas*/
#canvas{

    background-image: url("../images/fondoBJ.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    background-color: aquamarine;
    width: 1000px;
    height: 500px;
}

/*Centralizando el contenedor*/
.container{

    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    
}

/*Centralizando el contenido del canvas*/
#canvasDiv{

    text-align: center;

}

/*Informacion del juego*/
.puntuacion{
    font-size: 1.2rem;
    margin-left: 100px;
    margin-top: -400px;
}

/*Efecto Pressed en los botones*/
button{

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    
}

/*BOTON INICIAR*/
.btn-iniciar{
    background-color: #4CAF50;
}
.btn-iniciar:active{

    background-color: #48b248;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}

/*BOTON REPARTIR*/
.btn-repartir{
    background-color: #6985AF;
}

.btn-repartir:active{

    background-color: #7999ca;
    box-shadow: 0 5px #999;
    transform: translateY(4px);

}

/*BOTON MOSTRAR*/
.btn-mostrar{
    background-color: #a8dae4;
}

.btn-mostrar:active{

    background-color: #bbe6f4;
    box-shadow: 0 5px #999;
    transform: translateY(4px);

}




